@import url('https://fonts.googleapis.com/css?family=Fira+Mono:500|Fira+Sans:400,800&display=swap');

/* Variables */

.sheet-main, .sheet-rolltemplate-eb {
    /* Colors */
    --purple-dark:  #c594c5;
    --purple:       #e0cce0;
    --purple-light: #efe6ef;
    --blue-dark:    #6699cc;
    --blue:         #b7cce1;
    --blue-light:   #dde6ee;
    --teal-dark:    #5fb3b3;
    --teal:         #b3d5d5;
    --teal-light:   #dbe8e8;
    --green-dark:   #99c794;
    --green:        #cee1cc;
    --green-light:  #e7efe6;
    --yellow-dark:  #fac863;
    --yellow:       #f6e1b8;
    --yellow-light: #f8efde;
    --orange-dark:  #f99157;
    --orange:       #f5cab2;
    --orange-light: #f7e5db;
    --brown-dark:   #ab7967;
    --brown:        #d2bdb6;
    --brown-light:  #e7d5dc;
    --red-dark:     #ec5f67;
    --red:          #efb5b9;
    --red-light:    #f4ddde;
    /* Fonts */
    --default-mono: 'Fira Mono';
    --default-sans: 'Fira Sans';
}

/* Grids */

.sheet-main {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "character actions";
}

.sheet-names_grid {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "character_label character_name character_pronouns"
                         "player_label    player_name    player_pronouns";
}

.sheet-background_grid {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 8fr;
    grid-template-areas: "section_label           section_label"
                         "occupation_label        occupation"
                         "background_pounds_label background_pounds"
                         "background_hp_label     background_hp"
                         "background_info_label   background_info";
}

.sheet-currency_grid {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 8fr;
    grid-template-areas: "currency_label currency_value";
}

.sheet-action.sheet_column {
    display: grid;
    grid-area: actions;
    grid-gap: 4px;
    grid-template-areas: "stats"
                         "weapons"
                         "armor";
}

.sheet-stats_grid {
    display: grid;
    grid-area: stats;
    grid-gap: 1em;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "ability_scores combat_scores"
                         "effects        effects";
    grid-template-rows: 4fr 2em;
}

.sheet-ability_scores_grid {
    display: grid;
    grid-area: ability_scores;
    grid-gap: 4px;
    grid-template-areas: "ability_blank_label ability_max_label ability_cur_label ability_save_label"
                         "str_label           str_max           str_cur           str_save"
                         "dex_label           dex_max           dex_cur           dex_save"
                         "cha_label           cha_max           cha_cur           cha_save";
    grid-template-rows: repeat(4, 2.5em);
    text-align: center;
}

.sheet-combat_scores_grid {
    display: grid;
    grid-area: combat_scores;
    grid-gap: 4px;
    grid-template-areas: "combat_blank_label combat_max_label combat_cur_label"
                         "hp_label           hp_max           hp_cur"
                         "armor_label        armor            armor_blank";
    grid-template-rows: repeat(3, 2.5em);
}

.sheet-effects_grid {
    display: grid;
    grid-area: effects;
    grid-gap: 4px;
    grid-template-areas: "effects_label effects_value";
}

.sheet-weapons_grid {
    display: grid;
    grid-area: weapons;
    grid-gap: 2px;
    grid-template-columns: 3em 2fr 6em 2fr;
}

.sheet-armor_grid {
    display: grid;
    grid-area: armor;
    grid-gap: 2px;
    grid-template-columns: 3em 2fr 6em 2fr;
}

/* General */

.sheet-main {
    font-family: var(--default-sans);
    font-size: 1rem;
}

.sheet-label {
    font-weight: bold;
}

.sheet-numeric {
    font-family: 'Fira Mono';
}

.sheet-row_head {
    text-align: right;
}

button {
    box-sizing: border-box;
    height: 2em;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    vertical-align: center;
}

input, select {
    box-sizing: border-box;
    height: 2em;
    margin: 0;
    margin-bottom: 4px;
    padding: 0 4px;
}

input.sheet-numeric, select.sheet-menu{
    text-align: right;
    text-align-last: right;
}

textarea {
    box-sizing: border-box;
    height: 3em;
    margin: 0;
    width: 100%;
}

/* Sections */

div.sheet-character.sheet-column, div.sheet-action.sheet-column {
    background-color: var(--teal-light);
    border: 1px solid var(--teal-dark);
    padding: 1em;
}

/* Character & Background*/

div.sheet-character.sheet-section {
    grid-area: character;
}

div.sheet-character.sheet-label {
    grid-area: character_label;
}

div.sheet-character.sheet-name {
    grid-area: character_name;
}

div.sheet-character.sheet-pronouns {
    grid-area: character_pronouns;
}

div.sheet-player.sheet-label {
    grid-area: player_label;
}

div.sheet-player.sheet-name {
    grid-area: player_name;
}

div.sheet-player.sheet-pronouns {
    grid-area: player_pronouns;
}

.sheet-character .sheet-label {
    text-align: right;
}

.sheet-section.sheet-label {
    border-top: 1px solid var(--teal-dark);
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    margin-top: 1em;
    padding: 0;
    padding-top: 1em;
    text-align: center;
}

.sheet-sub_section.sheet-label {
    font-size: 1em;
    font-weight: bold;
    margin-0;
    margin-top: 1em;
    padding: 0;
    text-align: left;
}

div.sheet-background.sheet-section.sheet-label {
    grid-area: section_label;
}

div.sheet-occupation.sheet-label {
    grid-area: occupation_label;
}

div.sheet-occupation.sheet-value {
    grid-area: occupation;
}

div.sheet-background_pounds.sheet-label {
    grid-area: background_pounds_label;
}

div.sheet-background_pounds.sheet-value {
    grid-area: background_pounds;
}

div.sheet-background_hp.sheet-label {
    grid-area: background_hp_label;
}

div.sheet-background_hp.sheet-value {
    grid-area: background_hp;
}

div.sheet-background_info.sheet-label {
    grid-area: background_info_label;
}

div.sheet-background_info.sheet-value {
    grid-area: background_info;
}

div.sheet-currency.sheet-label {
    grid-area: currency_label;
}

div.sheet-currency.sheet-value {
    grid-area: currency_value;
}

input.sheet-name, input.sheet-occupation {
    margin: 0;
    min-width: 10em;
    width: 100%;
}

input.sheet-pronouns {
    margin: 0;
    width: 6em;
}

input.sheet-currency.sheet-value, input.sheet-item_name {
    width: 100%;
}

div.sheet-notes {
    grid-area: notes;
}

textarea.sheet-notes {
    min-height: 4em;
    height: 10em;
}

/* Stats & Actions */

div.sheet-action.sheet-section {
    background-color: var(--teal-light);
    border: 2px groove var(--teal-dark);
    grid-area: stats;
    width: 100%;
}

. {
    text-align: center;
}

div.sheet-action input {
    min-width: 3.5em;
    width: 100%;
}

.sheet-stats.sheet-section.sheet-label {
    grid-area: stats_label;
    margin: 1em;
    border: none;
}

.sheet-ability.sheet-blank.sheet-label {
    grid-area: ability_blank_label;
}

.sheet-ability.sheet-max.sheet-label {
    grid-area: ability_max_label;
}

.sheet-ability.sheet-current.sheet-label {
    grid-area: ability_cur_label;
}

.sheet-ability.sheet-save.sheet-label {
    grid-area: ability_save_label;
}

.sheet-ability.sheet-strength.sheet-label {
    grid-area: str_label;
}

.sheet-ability.sheet-strength.sheet-max.sheet-value {
    grid-area: str_max;
}

.sheet-ability.sheet-strength.sheet-current.sheet-value {
    grid-area: str_cur;
}

.sheet-ability.sheet-strength.sheet-save {
    grid-area: str_save;
}

.sheet-ability.sheet-dexterity.sheet-label {
    grid-area: dex_label;
}

.sheet-ability.sheet-dexterity.sheet-max.sheet-value {
    grid-area: dex_max;
}

.sheet-ability.sheet-dexterity.sheet-current.sheet-value {
    grid-area: dex_cur;
}

.sheet-ability.sheet-dexterity.sheet-save {
    grid-area: dex_save;
}

.sheet-ability.sheet-charisma.sheet-label {
    grid-area: cha_label;
}

.sheet-ability.sheet-charisma.sheet-max.sheet-value {
    grid-area: cha_max;
}

.sheet-ability.sheet-charisma.sheet-current.sheet-value {
    grid-area: cha_cur;
}

.sheet-ability.sheet-charisma.sheet-save {
    grid-area: cha_save;
}

.sheet-combat.sheet-blank.sheet-label {
    grid-area: combat_blank_label;
}

.sheet-combat.sheet-max.sheet-label {
    grid-area: combat_max_label;
}

.sheet-combat.sheet-current.sheet-label {
    grid-area: combat_cur_label;
}

.sheet-combat.sheet-hp.sheet-label {
    grid-area: hp_label;
}

.sheet-combat.sheet-hp.sheet-max.sheet-value {
    grid-area: hp_max;
}

.sheet-combat.sheet-hp.sheet-current.sheet-value {
    grid-area: hp_cur;
}

.sheet-combat.sheet-armor.sheet-label {
    grid-area: armor_label;
}

.sheet-combat.sheet-armor.sheet-max.sheet-value {
    grid-area: armor_max;
}

.sheet-effects.sheet-label {
    grid-area: effects_label;
}

.sheet-effects.sheet-value {
    grid-area: effects_value;
}

.sheet-weapons_name, .sheet-armor_name {
    font-family: var(--default-sans);
    width: 100%;
}

.sheet-weapons_damage, .sheet-armor_rating {
    font-family: var(--default-mono);
    width: 100%;
}

.sheet-weapons_tag, .sheet-armor_tag {
    font-family: var(--default-sans);
    width: 100%;
}

.sheet-combat.sheet-header.sheet-label, .sheet-ability.sheet-header.sheet-label {
    /* grid-area: label; */
    font-size: .8rem;
    text-align: center;
}

.sheet-effects table {
    align-self: start;
    width: 100%;
}

/* Roll Templates */

.sheet-rolltemplate-eb .sheet-container {
    background-color: var(--orange-light);
    border: 1px solid #000;
    font-family: var(--default-sans);
    padding: 1em;
}

.sheet-rolltemplate-eb h1 {
    border-bottom: 1px solid #000;
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
}

.sheet-rolltemplate-eb .sheet-label {
    font-size: 1em;
    font-weight: bold;
}

.sheet-rolltemplate-eb table {
    font-size: 1.2em;
    /* line-height: 150%; */
    width: 80%;
}

.sheet-rolltemplate-eb td {
    padding-bottom: 0.7em;
}

.sheet-rolltemplate-eb th {
    text-align: right;
    padding-right: 1em;
}

.sheet-rolltemplate-eb .sheet-numeric {
    font-family: var(--default-mono);
    text-align: center;
}

.sheet-rolltemplate-eb p.sheet-save {
    text-align: center;
}

.sheet-rolltemplate-eb p.sheet-outcome {
    font-size: 3em;
    font-weight: bold;
    line-height: 130%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.sheet-rolltemplate-eb p.sheet-success {
    color: var(--green-dark);
}

.sheet-rolltemplate-eb p.sheet-failure {
    color: var(--red-dark);
}
